<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Main heading-->
<header class="masthead" style="background-color: rgb(202, 245, 185);">
    <div class="container">
      <div class="masthead-subheading">“Invest with us to save the future!!!”</div>
      <div class="masthead-heading text-uppercase">Welcome to Smart Tool</div>
      <div>
      </div>
    </div>
  </header>
  <!-- Detailed feature list with images-->
<div class="container" style=" overflow: hidden;" id="imagecontainer">
    <div class="row">
  
      <section class="card ie-block" data-aos="fade-left" data-aos-duration="800">
        <img src="https://image.flaticon.com/icons/svg/2957/2957925.svg" alt="" />
        <div>
          <h3>Smart Analysis</h3>
          <p class="h6">
            There are many opportunities hidden inside the company which can generate enormeous amount of revenues and opportunities.
            The only thing required is to explore it is the correct time to launch the new business model. 
            The analysis and trends presented in this feature helps the company heads to plan and utilize their resources to the best of the abilities and enhance the firm growth.   
          </p>
        </div>
      </section>
      <section class="card ie-block">
        <img class="col-12" src="https://image.flaticon.com/icons/svg/3003/3003504.svg" alt="" />
        <div class="col-12">
          <h3>Search For the candidates</h3>
          <p class="h6">
          The important stepping stone of the company's success is to find the best candidates for the roles they have.
          There are various factors revolving around the positions people apply for and many times it happens that due to certain mutual constrains the most eligible candidates may not be applying for the posting.
        The company will be notified o the talent available in the particular area and their domains.</p>
        </div>
      </section>
  
  
  
  <!-- Complete main heading -->
  